<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Website</title>
    <link rel="stylesheet" href="../static/aboutwebsite.css">
</head>
<body>
    <nav>
        <ul>
            <li class="no"><a href='/'>Home</a></li>
            <li class="no"><a href='/about'>About</a></li>
            <li class="no"><a href='/contact'>Contact Us</a></li>
            <li class="no"><a href='/services'>Services</a></li>
            <li class="no"><a href='/signup'>Sign up</a></li>
            <li class="no"><a href='/videotour'>Video tour</a></li>
            <li class="no"><a href='/shop'>Shop</a></li>
            <li class="special"><a href='/aboutwebsite'>About This Website</a></li>
        </ul>
    </nav>
    <section class="about-section">
        <div class="container">
            <h1>How I Created This Website <img src="../static/images/myimg.jpg" alt="loading" height="30px" width="30px" class="myimg" onmouseover="alert('Jalwa hai hamara')"></h1>
            <p><span class="emoji">&#128525;</span>So, First of all If you are reading this then I want to thank you to visit this website page</p>
            
            <p>My name is Aditya Yadav I recently passed my class 12th and I created this website before taking admission in college</p>            

            <p>To complete this project I have taken more than 100+ hours</p>

            <p>I learned web development from youtube code with harry his channel link is <a href="https://www.youtube.com/@CodeWithHarry"><img src="../static/images/youtube.png" alt="loading" height="20px" width="20x"></a></p>

            <p>I used Html,CSS,Js,Express Js,Node Js to create this website </p>

            <p class="used">Also used:-</p>
            <p><a href="https://chat.openai.com/auth/login">ChatGpt</a></p>
            <p><a href="https://stackoverflow.com/">StackOverflow</a></p>
            <p><a href="https://www.w3schools.com/default.asp">W3schools</a> </p>
            <p><a href="https://pixabay.com/">Pixabay</a></p>
            <p><a href="https://www.pexels.com/">Pexels</a></p>
            
            <p>This given sites is used for photos videos and for some source codes</p>

            <p><a href=>This is my social media handles:-</a></p>

            <p><a href="https://www.instagram.com/adityayadav_5554/">Instagram<img src="../static/images/instagram.png" alt="loading" width="20px" height="20px"></a></p>

            <p><a href="https://twitter.com/AdityaYada85276">X/Twitter<img src="../static/images/x.png" width="20px" height="20px" alt="loading"></a></p>
        </div>
        <h1>&#128516;&#128516;&#128516;<span>Thank you</span>&#128516;&#128516;&#128516;</h1>
    </section>
    <footer>
        <a href="https://www.instagram.com/fitnessheaven__07/"><img src="../static/images/instagram.png"></a>
        <a href="https://www.youtube.com/@FitnessHeaven07"><img src="../static/images/youtube.png"></a>
         <p>&copy; 2023 Fitness Haven. All rights reserved.</p>
     </footer>
</body>
</html>