<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Gym Name</title>
    <link rel="website icon" type="jpg" href="../static/images/contact.jpg">
    <link rel="stylesheet" href="../static/contact.css">
</head>

<body>
    <nav>
        <ul>
            <li class="no"><a href='/'>Home</a></li>
            <li class="no"><a href='/about'>About</a></li>
            <li class="no"><a href='/contact'>Contact Us</a></li>
            <li class="no"><a href='/services'>Services</a></li>
            <li class="no"><a href='/signup'>Sign up</a></li>
            <li class="no"><a href='/videotour'>Video tour</a></li>
            <li class="no"><a href='/shop'>Shop</a></li>
            <li class="special"><a href='/aboutwebsite'>About This Website</a></li>
        </ul>
    </nav>

    <section class="contact">
        <div class="container">
            <h1>Contact Us</h1>
            <div class="contact-info">
                <div class="address">
                    <h2>Visit Us</h2>
                    <p>Fitness Heaven</p>
                    <p>Nandanagar Kunraghat</p>
                    <p>Gorakhpur, U.P ,273008</p>
                </div>
                <div class="contact-details">
                    <h2>Contact Information</h2>
                    <p>Phone: <a href="tel:PhoneNumber">0123456789</a></p>
                    <p>Email: <a href="mailto:email@example.com">fitnessheaven07@gmail.com</a></p>
                </div>
            </div>
            <div class="opening-hours">
                <h2>Operating Hours</h2>
                <p>Monday - Friday: 4:00 am - 11:00 pm</p>
                <p>Saturday: 6:00 am - 10:00 pm</p>
                <p>Sunday: 3:00 am - 10:00 pm</p>
            </div>

            <div class="contact-form">
                <h2>Online Enquiry Form</h2>
                <form>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>

                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>

                    <label for="phone">Phone:</label>
                    <input type="tel" id="phone" name="phone" required>

                    <label for="contact-method">Preferred Contact Method:</label>
                    <select id="contact-method" name="contact-method">
                        <option value="phone">Phone</option>
                        <option value="email">Email</option>
                    </select>

                    <label for="subject">Subject:</label>
                    <input type="text" id="subject" name="subject" required>

                    <label for="message">Message:</label>
                    <textarea id="message" name="message" rows="4" required></textarea>

                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </section>

    <footer>
        <a href="https://www.instagram.com/fitnessheaven__07/"><img src="../static/images/instagram.png"></a>
        <a href="https://www.youtube.com/@FitnessHeaven07"><img src="../static/images/youtube.png"></a>
        <p>&copy; 2023 Fitness Haven. All rights reserved.</p>
    </footer>
</body>

</html>