<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="website icon" type="jfif" href="../static/images/shopcart.png">
    <link rel="stylesheet" href="../static/shop.css">
</head>

<body>
    <nav>
        <ul>
            <li class="no"><a href='/'>Home</a></li>
            <li class="no"><a href='/about'>About</a></li>
            <li class="no"><a href='/contact'>Contact Us</a></li>
            <li class="no"><a href='/services'>Services</a></li>
            <li class="no"><a href='/signup'>Sign up</a></li>
            <li class="no"><a href='/videotour'>Video tour</a></li>
            <li class="no"><a href='/shop'>Shop</a></li>
            <li class="special"><a href='/aboutwebsite'>About This Website</a></li>
        </ul>
    </nav>
    <div class="heading">
        <h1>Clothings & Supplements</h1>
    </div>
    <main>
        <section class="service">
            <img src="../static/shop images/img1.jpg" alt="loading">
            <h2>Black T-shirt</h2>
            <p>This tshirt is made up cotton and comfortable to wear for Workouts and for casuals
            </p>
            <hr>
            <p class="price">&#8377;1,499</p>
            <form action="/pay" method="get">
                <button type="submit" class="btn">Buy now</button>
            </form>
        </section>
        <section class="service">
            <img src="../static/shop images/img2.jpg" alt="loading">
            <h2>Grey T-shirt</h2>
            <p>This tshirt is made up polyester and comfortable to wear for Workouts</p>
            <hr>
            <p class="price">&#8377;999</p>
            <form action="/pay" method="get">
                <button type="submit" class="btn">Buy now</button>
            </form>
        </section>
        <section class="service">
            <img src="../static/shop images/img3.jpg" alt="loading">
            <h2>Light Blue T-shirt</h2>
            <p>This tshirt is made up cotton and comfortable to wear for casuals and the company of this tshirt is
                Roadster</p>
            <hr>
            <p class="price">&#8377;2,999</p>
            <form action="/pay" method="get">
                <button type="submit" class="btn">Buy now</button>
            </form>
        </section>
        <section class="service">
            <img src="../static/shop images/img4.jfif" alt="loading">
            <h2>White T-shirt</h2>
            <p>This tshirt is made up cotton and comfortable to wear for Workouts and casuals</p>
            <hr>
            <p class="price">&#8377;499</p>
            <form action="/pay" method="get">
                <button type="submit" class="btn">Buy now</button>
            </form>
        </section>
        <section class="service">
            <img src="../static/shop images/img5.jfif" alt="loading">
            <h2>Sleeveless T-shirt</h2>
            <p>This is a limited edition tshirt is made up from cotton and very comfortable</p>
            <hr>
            <p class="price">&#8377;799</p>
            <form action="/pay" method="get">
                <button type="submit" class="btn">Buy now</button>
            </form>
        </section>
        <section class="service">
            <img src="../static/shop images/img6.jfif" alt="loading">
            <h2>White Sleeveless T-shirt</h2>
            <p>This is a limited edition tshirt is made up from mix cotton for casuals</p>
            <hr>
            <p class="price">&#8377;1,999</p>
            <form action="/pay" method="get">
                <button type="submit" class="btn">Buy now</button>
            </form>
        </section>
        <section class="service">
            <img src="../static/shop images/img7.webp" alt="loading">
            <h2>Whey Proteins</h2>
            <p>MuscleBlaze Biozyme Performance Whey, 1.75 kg (3.85 lb), Triple Chocolate
            </p>
            <hr>
            <p class="price">&#8377;3,699</p>
            <form action="/pay" method="get">
                <button type="submit" class="btn">Buy now</button>
            </form>
        </section>
        <section class="service">
            <img src="../static/shop images/img8.webp" alt="loading">
            <h2>Raw Whey Proteins</h2>
            <p>MuscleBlaze 80% Raw Whey Protein Supplement Powder, 1 kg (2.2 lb).</p>
            <hr>
            <p class="price">&#8377;1,699</p>
            <form action="/pay" method="get">
                <button type="submit" class="btn">Buy now</button>
            </form>
        </section>
        <section class="service">
            <img src="../static/shop images/img9.webp" alt="loading">
            <h2>My fitness Peanut Butter</h2>
            <p>MYFITNESS Chocolate Peanut Butter 510g (Pack of 2)</p>
            <hr>
            <p class="price">&#8377;699</p>
            <form action="/pay" method="get">
                <button type="submit" class="btn">Buy now</button>
            </form>
        </section>
        <section class="service">
            <img src="../static/shop images/img10.webp" alt="loading">
            <h2>GNC Pro Mass Gainer</h2>
            <p>Performance Weight Gainer 3 Kg 6 Servings Healthy Body Gains Reduces Muscle Breakdown Boosts Metabolism
                Formulated In USA 73g Protein 440g Carbs 2200 Cal Double Chocolate
            </p>
            <hr>
            <p class="price">&#8377;2099</p>
            <form action="/pay" method="get">
                <button type="submit" class="btn">Buy now</button>
            </form>
        </section>
        <section class="service">
            <img src="../static/shop images/img11.jpg" alt="loading">
            <h2>Protein Shake</h2>
            <p>MuscleBlaze 18 g Protein Shake, No Added Sugar, Lactose Free, Weight Management, Chocolate, Pack of 6
                (200 ml*6)</p>
            <hr>
            <p class="price">&#8377;599</p>
            <form action="/pay" method="get">
                <button type="submit" class="btn">Buy now</button>
            </form>
        </section>
        <section class="service">
            <img src="../static/shop images/img12.jpg" alt="loading">
            <h2>Protein Shake</h2>
            <p>Creatine Monohydrate Powder Pack of 1 unflavoured </p>
            <hr>
            <p class="price">&#8377;2299</p>
            <form action="/pay" method="get">
                <button type="submit" class="btn">Buy now</button>
            </form>
        </section>
    </main>
    <footer>
        <a href="https://www.instagram.com/fitnessheaven__07/"><img src="../static/images/instagram.png"></a>
        <a href="https://www.youtube.com/@FitnessHeaven07"><img src="../static/images/youtube.png"></a>
        <p>&copy; 2023 Fitness Haven. All rights reserved.</p>
    </footer>
</body>

</html>